@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient Http
@inject NavigationManager UriHelper

<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul>
            <li><a href="/" class="@Home">Home</a></li>
            <AuthorizeView Roles="Supplier">
                <Authorized>
                    <li style="display:@oldShop"><a href="/online_shop" class="@OnlineShop">Online Shop</a></li>
                    <li style="display:@newShop"><a href="/create_online_shop" class="@OnlineShop">Create New Online Shop</a></li>
                </Authorized>
            </AuthorizeView>
            
            <AuthorizeView>
                <Authorized>
                    <li><a @onclick="LogOut" href="">Logout</a></li>
                </Authorized>
                <NotAuthorized>
                    <li>
                        <a class="dropdown-toggle">Login</a>

                        <ul>
                            <li><a href="/login_customer" class="@LoginCus">As a Customer</a></li>
                            <li><a href="/login_supplier" class="@LoginSup">As a Supplier</a></li>
                        </ul>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div><a class="close" href="#menu">Close</a>
</nav>
@code {
    [Parameter]
    public string NavItem { get; set; }
    public string Home { get; set; }
    public string LoginCus { get; set; }
    public string LoginSup { get; set; }
    public string OnlineShop { get; set; }
    private string newShop="none", oldShop="none";

    protected override async void OnInitialized()
    {
        switch (NavItem)
        {
            case "HomeNav":
                Home = "active";
                break;
            case "LoginCusNav":
                LoginCus = "active";
                break;
            case "LoginSupNav":
                LoginSup = "active";
                break;
            case "OnlineShopNav":
                OnlineShop = "active";
                break;

            default:
                break;
        }

        var response = await Http.GetAsync("api/Login/isShopAvailable");
        if (response.IsSuccessStatusCode)
        {
            oldShop = "";
            newShop = "none";
        }
        else
        {
            oldShop = "none";
            newShop = "";
        }

        base.OnInitialized();
    }

    void LogOut()
    {
        Http.DeleteAsync("api/Login");
        AuthStateProvider.GetAuthenticationStateAsync();
        UriHelper.NavigateTo("/");
    }
}
