@page "/marketplace_shop/{shopID}"
@inject NavigationManager UriHelper
@inject ISnackbar SB
@inject HttpClient http

<div id="wrapper" style="pointer-events:@pointerEvent; opacity:@opacity">
    <HomeHeader />
    <div class="main">
        <div class="row align-content-center" style="padding-top:10px; padding-left:40px; padding-right:40px">
            <div class="col-md-12">
                <MudButton Style="border-radius:100px; bottom:40px; left:40px; position:fixed; " Variant="Variant.Filled" Class="primary"><MudIcon Icon="@Icons.Material.Filled.Add"></MudIcon></MudButton>
                <h2 class="h2"><center>Marketplace</center></h2>
                <h2 class="h3"><center>@Shop.ShopName</center></h2>
                <br />
                <MudGrid Spacing="2" Justify="Justify.Center">
                    @{int i = 0;}
                    @foreach (var item in products)
                    {
                        <MudItem>
                            <MudCard Elevation="10" Style="max-width:300px">
                                <MudCardMedia Image="@item.fileString" Height="200" />
                                <MudCardContent>
                                    <MudText Typo="Typo.h5" Style="padding-bottom:10px">@item.ProdName </MudText>
                                    <MudText Typo="Typo.body2" Style="padding-bottom:10px">@item.ProdDescription</MudText>
                                    <MudDivider />
                                    <MudText Typo="Typo.subtitle2" Style="padding-bottom:10px; padding-top:10px">Stock : @item.ProdStock</MudText>
                                    <MudText Typo="Typo.subtitle2" Style="padding-bottom:10px">Price : Rs. @item.ProdPrice</MudText>
                                </MudCardContent>
                                <MudCardActions Style="align-content:flex-end;">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(e=>ViewProduct(@item.ProdId))" Style="margin-left: auto;margin-right: 0;">Edit</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>

                        i = (i + 1) % 6;
                    }
                </MudGrid>
            </div>
        </div>
    </div>
</div>
<NavMenu NavItem="OnlineShopNav"/>
<div style="display:@loadingIcon">
    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;position:fixed;top:50%;left:50%;" Indeterminate="true" />
</div>

@code {
    [Parameter]
    public string shopID { get; set; }
    private string pointerEvent, loadingIcon = "none";
    private double opacity = 1;
    private OnlineShopModel Shop = new OnlineShopModel();
    private List<ProductModel> products = new List<ProductModel>();
    private bool drawerStatus = false;

    protected override async Task OnInitializedAsync()
    {
        Shop = await http.GetFromJsonAsync<OnlineShopModel>("api/OnlineShop/" + shopID);
        products = await http.GetFromJsonAsync<List<ProductModel>>("api/Product/GetProducts/" + shopID);
    }

    void isLoading(bool value)
    {
        if (value)
        {
            loadingIcon = "";
            pointerEvent = "none";
            opacity = 0.25;
        }
        else
        {
            loadingIcon = "none";
            pointerEvent = "";
            opacity = 1;
        }
    }

    void ViewProduct(int id)
    {
        UriHelper.NavigateTo("/view_product/" + id);
    }
}